.sidebar {
  width: 240px;
  height: 100vh;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-nav {
  list-style-type: none;
  margin: 0 0;
  text-align: center;
  padding: 0 0;
  font: 1.25em/2.36764705882em sans-serif;
  font-weight: bold;
}

a li.sidebar-btn, a:visited li.sidebar-btn {
  color: #ffffff
}

a:hover li.sidebar-btn {
  color: yellow;
  text-shadow: 0 0 30px yellow;
}